@import "tailwindcss";
@source inline("text-[#FFFFFF]");
@source inline("text-[#01BD39]");
@source inline("text-[#01BFFF]");
@source inline("text-[#D1017B]");
@source inline("text-[#B7861D]");
@source inline("text-[#FF5901]");

@theme {
    --color-text: #d2d2d2;
    --color-primary: #ffa03c;
    --color-gray-light: #232323;
    --color-gray-darker: #1f1e1e;
    --color-gray-dark: #171717;
    --font-title: "Linux Libertine", "Georgia", "Times", serif;
}

body {
    @apply bg-gray-light text-text;
}
